@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 27 8% 19%;
    --card: 0 0% 100%;
    --card-foreground: 27 8% 19%;
    --popover: 0 0% 100%;
    --popover-foreground: 27 8% 19%;
    --primary: 10 100% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 56% 55%;
    --secondary-foreground: 27 8% 19%;
    --muted: 34 19% 93%;
    --muted-foreground: 36 4% 54%;
    --accent: 42 100% 70%;
    --accent-foreground: 27 8% 19%;
    --border: 30 27% 87%;
    --input: 30 27% 87%;
    --ring: 10 100% 70%;
    --radius: 1.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
